/* CSS Document */
@charset "utf-8";

/*************************************/
/* Global & helper classes ***********/
/*************************************/

* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #eff1ed;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.center-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.padding-hor {
    padding-left: 20px;
    padding-right: 20px;
}
.margin-top {
    margin-top: 20px;
}
.no-padding-hor {
    padding-left: 0;
    padding-right: 0;
}
.align-center {
    text-align: center;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}
.bg-my-cover-1,
.bg-my-cover-2 {
    background-image: none;
}

/* * * * * * * * * * * * * * * * * * */

/*************************************/
/* Header ****************************/
/*************************************/

.header-overlay-element {
    display: none;
}
.my-title {
    height: 400px;
    padding: 140px 0;
}
.my-title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: #eff1ed;
}
.my-title small {
    color: #eff1ed;
}

/* * * * * * * * * * * * * * * * * * */

/*************************************/
/* Navbar re-styling *****************/
/*************************************/

.navbar {
    border: none;
    font-family: 'Raleway', sans-serif;
}
.navbar-default {
    box-shadow: 0 2px 10px rgba(42, 45, 52, 0.5);
}
.navbar-brand,
.navbar-nav>li>a {
    text-shadow: none;
    letter-spacing: 2px;
}
.navbar-default {
    background: #646e6d;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #eff1ed;
}
.navbar-default .navbar-nav>li>a {
    color: #eff1ed;
}
.navbar-default .navbar-text {
    color: #eff1ed;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eff1ed;
}
.navbar-brand {
    font-size: 22px;
    padding-left: 25px;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #eff1ed;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #eff1ed;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #646e6d;
    background: #eff1ed;
    box-shadow: 0 2px 10px rgba(42, 45, 52, 0.5);
}

/** Nav up **/
/*
.navbar-fixed-top   {
    transition: top 0.5s ease-in-out;
}
.nav-up {
    top: -50px;
}
*/
/* * * * * * * * * * * * * * * * * * */

/*************************************/
/* Pages *****************************/
/*************************************/

/** ** About ** ** ** ** ** ** **/

.about-page {
    background-color: #eff1ed;
    color: #646e6d;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-page h2 {
    
}
.pic-naama-1 {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: 15px auto;
}
.about-page a:link,
.about-page a:visited {
    text-decoration: none;
    color: #01a0fb;
    -webkit-transition: text-shadow .3s;
    -moz-transition: text-shadow .3s;
    -o-transition: text-shadow .3s;
    transition: text-shadow .3s;
}
.about-page a:hover,
.about-page a:active {
    color: #01a0fb;
    text-shadow: 0px 1px 9px #1761f4;
}

/** ** Projects ** ** ** ** ** **/

.project-page {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(26, 26, 32, 1);
    color: #eff1ed;
    padding-top: 30px;
    padding-bottom: 10px;
}
.project-page a {
    text-decoration: none;
}
.media-overlay-1 {
    position: relative;
    box-shadow: 1px 1px 9px rgba(26, 26, 32, 1);
}

.media-overlay-1 video {
    position: relative;
    z-index: 1;
}
.media-overlay-text-1 {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px 20px 10px 20px;
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: none;
    color: rgba(239, 241, 237, 0.0);
    -webkit-transition: background .5s, color .5s;
    -moz-transition: background .5s, color .5s;
    -o-transition: background .5s, color .5s;
    transition: background .5s, color .5s;
}
.media-overlay-text-1:hover {
    background: rgba(239, 241, 237, 0.75);
    color: rgba(26, 26, 32, 1 );
}
.media-overlay-2 {
    position: relative;
    box-shadow: 1px 1px 9px rgba(26, 26, 32, 1);
    z-index: 1;
}
.media-overlay-text-2 {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    font-size: 200%;
    color: rgba(26, 26, 32, 1 );
    background: rgba(239, 241, 237, 0.75);
    -webkit-transition: color .3s, background .5s;
    -moz-transition: color .3s, background .5s;
    -o-transition: color .3s, background .5s;
    transition: color .3s, background .5s;
}
.media-overlay-text-2:hover {
    color: #01a0fb;
    background: rgba(239, 241, 237, 0.55);
}
.media-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.media-elements {
    margin-top: 10px;
    max-width: 360px;
    position: relative;
    overflow: hidden;
}
.media-elements img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.media-elements:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.media-element-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.media-element-icon a {
    font-size: 250%;
}
.media-element-icon a:link,
.media-element-icon a:visited {
    color: #eff1ed;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.media-element-icon a:hover,
.media-element-icon a:active {
    color: #01a0fb;
}

/** ** CV ** ** ** ** ** ** ** **/

.cv-page {
    background-color: #eff1ed;
    color: #646e6d;
    padding-top: 10px;
    padding-bottom: 20px;
}
.skill-table {
    margin-bottom: 10px;
}
.skill-table td {
    vertical-align: top;
}
td:nth-child(1) {
    width: 100px;
}

/* * * * * * * * * * * * * * * * * * */

/*************************************/
/* Footer ****************************/
/*************************************/

footer {
    background-color: #646e6d;
    color: #eff1ed;
    padding: 30px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight:
    font-size: 1.1em;
}
footer a:link,
footer a:visited {
    color: #eff1ed;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
footer a:hover,
footer a:active {
    color: #01a0fb;
    text-decoration: none;
    text-shadow: none;
}
.footer-link-icons {
    margin-left: 10px;
    margin-right: 10px;
}

/* * * * * * * * * * * * * * * * * * */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/********** @Media queries ***********/
/*************************************/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    
    /*************************************/
    /* Global & helper classes ***********/
    /*************************************/
    
    .margin-top-after {
        margin-top: 20px;
    }
    .margin-bottom-after {
        margin-bottom: 20px; /**/
    }
    .padding-hor-after {
        padding-left: 20px; /**/
        padding-right: 20px; /**/
    }
    .bigger-font {
        font-size: 1.15em
    }
    .align-right-after {
        text-align: right; /**/
    }
    
    .bg-my-cover-1 {
        background-image: url("../assets/background-7-alt.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bg-my-cover-2 {
        background-image: url("../assets/background-6.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    /* * * * * * * * * * * * * * * * * * */
    
    /*************************************/
    /* Header ****************************/
    /*************************************/
    
    .header-overlay-element {
        display: block;
    }
    .my-title   {
        background-color: rgba(26, 26, 32, 0.25)
    }
    
    /* * * * * * * * * * * * * * * * * * */
    
    /*************************************/
    /* Navbar re-styling *****************/
    /*************************************/
    
    .navbar {
        font-size: 18px;
        background: transparent;
        padding: 20px 0;
        box-shadow: none;
        -webkit-transition: font-size .5s, background .5s ease-in-out, padding .5s ease-in-out, box-shadow .3s;
        -moz-transition: font-size .5s, background .5s ease-in-out, padding .5s ease-in-out, box-shadow .3s;
        -o-transition: font-size .5s, background .5s ease-in-out, padding .5s ease-in-out, box-shadow .3s;
        transition: font-size .5s, background .5s ease-in-out, padding .5s ease-in-out, box-shadow .3s;
    }
    .top-nav-collapse {
        font-size: 16px;
        background: rgba(26, 26, 32, 1);
        padding: 0;
        box-shadow: 0 2px 10px rgba(26, 26, 32, 0.5);
    }
    .navbar-brand {
        padding-left: 15px;
        font-size: 26px;
        -webkit-transition: font-size .5s, color .3s, text-shadow .5s;
        -moz-transition: font-size .5s, color .3s, text-shadow .5s;
        -o-transition: font-size .5s, color .3s, text-shadow .5s;
        transition: font-size .5s, color .3s, text-shadow .5s;
    }
    .navbar-brand-reduce {
        font-size: 22px;
    }
    .my-nav {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        -webkit-transition: color .3s ease-in-out, text-shadow .5s, box-shadow .3s ease-in-out;
        -moz-transition: color .3s ease-in-out, text-shadow .5s, box-shadow .3s ease-in-out;
        -o-transition: color .3s ease-in-out, text-shadow .5s, box-shadow .3s ease-in-out;
        transition: color .3s ease-in-out, text-shadow .5s, box-shadow .3s ease-in-out;
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #eff1ed;
    }
    .navbar-default .navbar-nav>li>a:hover {
        /* text-shadow: 0px 1px 9px #1761f4; */
        color: #01a0fb;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #01a0fb;
        background: transparent;
        /* text-shadow: 0px 1px 9px #01a0fb; */
        box-shadow: 0 -3px 0px #01a0fb inset;
    }
    .navbar-default .navbar-brand:hover {
        color: #01a0fb;
        /* text-shadow: 0px 1px 9px #01a0fb; */
    }
    
    /* * * * * * * * * * * * * * * * * * */
    
    /*************************************/
    /* Pages *****************************/
    /*************************************/
    
    /** ** About ** ** ** ** ** ** **/
    
    .about-page {
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .pic-naama-1 {
        width: 270px;
    }
    
    /** ** Projects ** ** ** ** ** **/
    
    .project-page {
        background-color: rgba(26, 26, 32, 0.85);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .media-overlay-text-1 {
        font-size: inherit;
    }
    .media-container {
        flex-direction: row;
        align-items: stretch;
        margin-top: 5px;
    }
    .media-elements {
        margin-top: 0;
        max-width: none;
    }
    .media-elements:nth-child(1) {
        margin-right: 5px;
    }
    .media-element-icon a {
        font-size: 150%;
    }
    
    /** ** CV ** ** ** ** ** ** ** **/
    
    .cv-page {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .cv-container {
        width: 700px;
        padding-top: 20px;
        padding-bottom: 30px;
        border: dashed 3px #646e6d;
        border-radius: 10px;
        box-shadow: 1px 1px 7px #646e6d;
    }
    td:nth-child(1) {
        width: 160px;
    }
    
    /* * * * * * * * * * * * * * * * * * */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .align-center-medium {
        text-align: center;
    }
    .media-element-icon a {
        font-size: 220%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .media-element-icon {
        padding-left: 60px;
        padding-right: 60px;
    }
    .media-element-icon a {
        font-size: 250%;
    }
}