// ======================================
//  about
// ======================================

.about {
    @include basic-layout;
    .my-container {
        max-width: 860px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-container-1 {
    overflow: hidden;
    .basic-info {
        padding-top: $gutter--rem-2;
        overflow: hidden;
    }
    h2 {
        font-size: $font-size--1;
        font-weight: $font-weight--thin;
        margin-bottom: $gutter--rem-1;
        text-align: center;
        @media (min-width: 768px) {
            font-size: $font-size--big;
        }
    }
}
.info-container-2 {
    padding-top: $gutter--rem-1;
    padding-bottom: $gutter--rem-2;
    font-size: $font-size--3;
    p {
        padding-bottom: $gutter--rem-1; 
    }
}
.info-container-3 {
    padding-top: $gutter--rem-2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: em(70px);
    .devicons {
        margin: 0 $gutter--rem-2;
        margin-bottom: $gutter--rem-2;
    }
}
