// ======================================
//  global
// ======================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    font-weight: $font-weight--light;
    background: $color--main-dark;
    color: $color--main-light;
    min-height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, p {
    margin: 0;
}
.wrapper {
    width: 100%;
    transition: $transition--nav;
}
.fade-enter {
    opacity: 0;
    transform: scale(0.85);
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: .3s ease all;
}
