// ======================================
//  global
// ======================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: rgba(130, 130, 130, 1);
    background: -webkit-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: -moz-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: -o-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    color: $primary-light;
    min-height: 100vh;
}
