// ======================================
//  global
// ======================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    font-weight: $font-weight--light;
    background: $color--main-dark;
    // background: linear-gradient($color--main-dark, $color--main-medium);
    animation: Pulsing 20s infinite;
    color: $color--main-light;
    min-height: 100vh;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    transition: $transition--nav;
}
.fade-enter {
    opacity: 0;
    transform: scale(0.8);
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: .3s ease all;
}
@keyframes Pulsing {
    0% {background: $color--main-dark}
    20% {background: $color--main-dark}
    50% {background: $color--main-medium}
    80% {background: $color--main-dark}
    100% {background: $color--main-dark}
}
