// ======================================
//  mixins
// ======================================

@mixin basic-layout {
    min-height: 100vh;
    padding-top: rem(90px);
    padding-bottom: $gutter--rem-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(30px);
        padding-right: rem(30px);
    }
}
