// ======================================
//  nav
// ======================================

.my-navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    height: 90px;
    width: 100%;
    a {
        text-decoration: none;
        color: $color--main-light;
        stroke: $color--main-light;
        transition: $transition--nav;
        &:hover {
            color: $color--main-light-accent;
            stroke: $color--main-light-accent;
        }
    }
    .open-slide {
        cursor: pointer;
        float: left;
        margin-top: $gutter--rem-1;
        transition: $transition--nav;
        width: 30px;
        height: 30px;
    }
    .back-btn {
        cursor: pointer;
        float: right;
        margin-top: $gutter--rem-1;
        margin-right: 30px;
        width: 30px;
        height: 30px;
        padding-top: 4px;
    }
    .bullets {
        font-size: $font-size--small;
    }
}

.side-nav {
    height: 120%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: $gutter--rem-1;
    background-color: $color--main-dark; 
    transition: $transition--nav;
    @media (min-width: 768px) {
        background-color: $color--main-dark-transparent;
    }
    .mobile-nav-ul {
        margin-top: em(70px);
        font-size: $font-size--2;
        list-style: none;
        a {
            width: em(80px);
            margin: 0 auto;
            padding: $gutter--rem-2 0 $gutter--rem-2 0;
            display: block;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
        }
        // workaround for landscape phone
        @media (max-width: 767px) and (orientation: landscape) {
            margin-top: rem(60px);
        }
    }
    .desktop-nav-ul {
        margin-top: em(70px);
        font-size: $font-size--3;
        a {
            margin: 0;
            padding: $gutter--rem-2 0 $gutter--rem-2 30px;
            display: block;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                padding-left: 35px;
                box-shadow: 2px 0 0 $color--main-light-accent inset;
            }
        }
    }
    a {
        color: $color--main-light;
        transition: $transition--nav;
        stroke: $color--main-light;
        &:hover {
            color: $color--main-light-accent;
            stroke: $color--main-light-accent;
        }
    }
    .info {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20%;
        text-align: center;
        width: 300px;
        p {
            margin: 0;
            font-size: $font-size--small;
        }
        .icon-holder {
            margin-bottom: $gutter--rem-2;
            a {
                text-decoration: none;
                stroke: none;
            }
            svg {
                display: inline-block;
                font-size: em(60px);
            }
        }
        // workaround for landscape phone
        @media (max-width: 767px) and (orientation: landscape) {
            display: none;
        }
        @media (min-width: 768px) {
            left: 0;
            right: 0;
            width: 250px;
            transform: translateX(0);
            .icon-holder {
                svg {
                    font-size: em(60px);
                }
            }
        }
    }
    .btn-close {
        height: 30px;
        width:  30px;
        cursor: pointer;
        position: absolute;
        top: $gutter--rem-1;
        right: $gutter--rem-1;
    }
}