// ======================================
//  not-found
// ======================================

.not-found {
    @include basic-layout;

    text-align: center;

    h1 {
        color: $darkGrey;
        font-size: em(40px);
        font-weight: $font-weight--medium;
        margin-bottom: $spacing-lg;

        @media (min-width: 376px) {
            font-size: $font-size--big;
        }
    }
}
