/* Variables */
$main-light: #adadad;
$main-light-accent: #e6e6e6;

/* Global */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local("Segoe UI Light"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: rgba(130, 130, 130, 1);
    background: -webkit-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: -moz-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: -o-linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    background: linear-gradient(rgba(26, 26, 26, 1), rgba(130, 130, 130, 1));
    color: $main-light;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    a {
        text-decoration: none;
        color: $main-light;
        stroke: $main-light;
        transition: 0.3s;
        &:hover {
            color: $main-light-accent;
            stroke: $main-light-accent;
        }
    }
    .open-slide {
        float: left;
        margin-top: 30px;
        margin-left: 30px;
        transition: 0.3s;
    }
    .navbar-nav {
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 auto;
        list-style: none;
        font-size: 18px;
        margin-top: 30px;
    }
    .bullets {
        font-size: 12px;
    }
}
.side-nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    background-color: rgba(26, 26, 26, 0.75);
    transition: 0.3s;
    ul {
        margin-top: 70px;
        font-size: 18px;
        a {
            margin: 0px 0px 30px 30px;
            display: block;
            text-decoration: none;
            &:hover {
                padding-left: 10px;
            }
        }
    }
    a {
        color: $main-light;
        transition: 0.3s;
        stroke: $main-light;
        &:hover {
            color: $main-light-accent;
            stroke: $main-light-accent;
        }
    }
    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}

/* Landing */
.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ghost-div {
        height: 10vh;
    }
    .title-holder {
        display: block;
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        text-align: center;
        border: solid 2px $main-light;
        padding: 20px 30px 25px 30px;
        h1 {
            font-size: 32px;
            font-weight: 300;
        }
        h2 {
            font-size: 20px;
            font-weight: 300;
        }
    }
    .landing-nav {
        display: block;
        text-align: center;
        list-style: none;
        width: 100px;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: $main-light;
            font-size: 18px;
            transition: 0.3s;
            &:hover {
                color: $main-light-accent;
            }
        }
        .bullets {
            display: block;
            margin: 20px 0 20px 0;
            font-size: 12px;
        }
    }
}

.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}